/* 各个网页相同模块的重复样式，例如：头部和底部 */
/* 版心 */
.wrapper {
  margin: 0px auto;
  width: 1500px;
}

/* 快捷导航 */
.shortcut{
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper{
  display: flex;
  justify-content: flex-end;
  height: 52px;
}

.shortcut ul{
  display: flex;
  line-height: 52px;
}

.shortcut ul li a{
  padding: 0px 15px;
  border-right: 1px solid #dfdada;
  font-size: 14px;
  color: #fff;
}

.shortcut ul li:last-child a{
  border: 0px;
}

.shortcut li .iconfont{
  margin-right: 4px;
  /* vertical-align: middle; */
}

.shortcut li .login{
  color: aquamarine;
}

/* 头部 */
.header{
  display: flex;
  height: 100px;
  margin: 20px auto;
  /* background-color: pink; */
}

.logo
{
  height: 100px;
  width: 200px;
  text-align: center;
  margin-right: 50px;
  /* background-color: skyblue; */
}

.logo a{
  display: block;
  width: 200px;
  height: 88px;
  font-size: 0px;
  background-image: url("../images/logo.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
}

.header .nav{
  margin-right: 45px;
}

.header .nav ul{
  height: 100px;
  display: flex;
  align-items: center;
}

.header .nav ul li{
  margin-top: 10px;
  margin-right: 35px;
  padding-bottom: 10px;
  font-size: 18px;
}

.header .nav li:hover{
  color: rgb(22, 176, 125);
  border-bottom: 1px solid rgb(22, 176, 125);
}

.search{
  display: flex;
  align-items: center;
}

.search .searchbox{
  display: flex;
  align-items: center;
  height: 45px;
  width: 250px;
  font-size: 18px;
  border: 2px solid #eee8e8;
  border-radius: 20px;
}

.search .searchbox a span{
  display: flex;
  margin: 10px;
  font-size: 20px;
  color: rgb(110, 110, 196);
}

.search .searchbox a{
  font-size: 0px;
}

.search .searchbox input{
  line-height: 45px;
}

.stars{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.stars a{
  font-size: 0px;
}

.stars a span{
  font-size: 20px;
  color: red;
}

/* 尾部 */
.footer{
  height: 200px;
  /* background-color: #cfe2ec; */
  border-top: 2px solid rgb(67, 182, 182);
}

.footer .wrapper .server{
  display: flex;
  height: 200;
}

.footer .wrapper .server ul{
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.footer .wrapper .server ul li{
  margin: 20px;
  font-size: 25px;
}

.footer .wrapper .server .photo{
  margin-top: 20px;
  margin-left: 100px;
  width: 300px;
}

.footer .wrapper .server .photo img{
  width: auto;
  height: 150px;
}

.footer .wrapper .server .photo p{
  margin-left: 30px;
  color: grey;
  font-size: smaller;
}

.footer .wrapper .copyright  {
  display: flex;
  justify-content: center;
}

.footer .copyright{
  font-size: 14px;
  color: gray;
}
