@font-face {
  font-family: "iconfont"; /* Project id 5080246 */
  src: url('iconfont.woff2?t=1764766289681') format('woff2'),
       url('iconfont.woff?t=1764766289681') format('woff'),
       url('iconfont.ttf?t=1764766289681') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaoshanmeishihongketaohongguo3:before {
  content: "\e978";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-xihuan:before {
  content: "\e61e";
}

.icon-gengduo:before {
  content: "\e61f";
}

.icon-shouye-zhihui:before {
  content: "\e620";
}

.icon-gerenzhongxin-zhihui:before {
  content: "\e621";
}

.icon-fanhui:before {
  content: "\e622";
}

.icon-a-dingwei2:before {
  content: "\e623";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-a-fenxiang2:before {
  content: "\e625";
}

.icon-a-xiala2:before {
  content: "\e626";
}

.icon-jinru:before {
  content: "\e627";
}

.icon-a-158_chijing-08:before {
  content: "\e8dd";
}

.icon-a-158_shila:before {
  content: "\e8de";
}

.icon-a-158_xihuan:before {
  content: "\e8df";
}

.icon-a-158_fangdian:before {
  content: "\e8e0";
}

.icon-a-158_xiaoku:before {
  content: "\e8e1";
}

.icon-qiweishoujibiao:before {
  content: "\e601";
}

.icon-qiweisiweidaotu:before {
  content: "\e602";
}

.icon-qiweiyanshiwengao:before {
  content: "\e603";
}

.icon-qiweizaixianbiaoge:before {
  content: "\e604";
}

.icon-weipanwenjianjia:before {
  content: "\e605";
}

.icon-qiweiliuchengtu:before {
  content: "\e606";
}

.icon-qiweizhinengbiaoge:before {
  content: "\e607";
}

.icon-qiweizaixianwendang:before {
  content: "\e608";
}

.icon-qitawenjian:before {
  content: "\e609";
}

.icon-tupian:before {
  content: "\e60a";
}

.icon-shipinwenjian:before {
  content: "\e60b";
}

.icon-Excel:before {
  content: "\e60c";
}

.icon-wenbenwenjian:before {
  content: "\e60d";
}

.icon-yasuobao:before {
  content: "\e60e";
}

.icon-PPT:before {
  content: "\e60f";
}

.icon-PDF:before {
  content: "\e610";
}

.icon-HTML:before {
  content: "\e611";
}

.icon-word:before {
  content: "\e612";
}

.icon-lianjie:before {
  content: "\e613";
}

.icon-xiaochengxufenxiang:before {
  content: "\e614";
}

.icon-a-liaotianpoppy_icon_chat:before {
  content: "\e63e";
}

.icon-a-liangdupoppy_icon_liangdu:before {
  content: "\e640";
}

.icon-a-shouqipoppy_icon_arrow_up:before {
  content: "\e642";
}

.icon-a-shezhipoppy_icon_setting:before {
  content: "\e643";
}

.icon-a-zhexiantupoppy_icon_zhexiantu:before {
  content: "\e647";
}

.icon-a-zanpoppy_icon_like:before {
  content: "\e648";
}

.icon-a-zhuzhuangtupoppy_icon_zhuzhuangtu:before {
  content: "\e649";
}

.icon-a-shuaxinpoppy_icon_refresh:before {
  content: "\e64a";
}

.icon-a-zidingyipoppy_icon_zidinyi2:before {
  content: "\e64c";
}

.icon-a-wentijieshipoppy_icon_question_explain:before {
  content: "\e64d";
}

.icon-a-zhengquepoppy_icon_hook:before {
  content: "\e64f";
}

.icon-a-zhidipoppy_icon_download:before {
  content: "\e650";
}

.icon-a-zitipoppy_icon_font:before {
  content: "\e651";
}

.icon-a-zhucepoppy_icon_zhuche:before {
  content: "\e652";
}

